<ion-header>
  <ion-toolbar>
    <ion-title>
      Incidencias
    </ion-title>
    <ion-button (click)="logout()">Cerrar Sesión</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar slot="start">
      <img [src]="imagen">
    </ion-avatar>
    <ion-label>{{nombre}}</ion-label>
  </ion-item>
  <ion-button (click)="radio()">Encender Radio</ion-button>


  <ion-list>
    <ion-item-sliding *ngFor="let incidencia of incidencias">
      <ion-item>

        <ion-thumbnail slot="start">
          <img src={{incidencia.imagen}}>
        </ion-thumbnail>
        <ion-label>
          
          {{incidencia.nombre}}
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

</ion-content>